body {
    background-color: rgb(172, 117, 92);
    user-select: none;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gameContainer {
    min-width: 1350px;
    min-height: 350px;
    position: absolute;
    top: 100px;
    background-color: skyblue;
    border: 3px solid white;
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: rgb(180, 80, 49);


}


td img {
    position: absolute;
    top: 1px;
    left: 1px;
}


.negs {
    position: absolute;
    text-align: center;
    top: 8px;
    left: 14px;
    z-index: 2;
    color: rgb(22, 22, 22);
    font-weight: 700;
    font-size: 18pt;
    font-family: monospace;
}


.cell {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: default;
}

.status {
    width: 33%;
    min-width: 660px;
    margin: auto;
    padding: 10px;
    display: table;
    table-layout: fixed;
}


.lives, .smiley, .timer {
    display: table-cell;
    text-align: center;
    background-color: slategray;
    border-bottom: rgb(65, 65, 65) solid 2px;
    border-collapse: collapse;
    font-family: monospace;
    font-size: 15pt;
}

.smiley {
    cursor: pointer;
    background-color: white;
}

.smiley:hover {
    background-color: rgba(255, 255, 255, 0.616);
    border-bottom: tomato solid 2px;
    border-left: rgba(255, 99, 71, 0) solid 2px;
    border-right: rgba(255, 99, 71, 0) solid 2px;
}

.lvls {
    width: 33%;
    min-width: 487px;
    margin: auto;
    padding: 10px;
    display: table;
    table-layout: fixed;
}

.lvl1, .lvl2, .lvl3 {
    cursor: pointer;
    display: table-cell;
    text-align: center;
    background-color: slategray;
    border-bottom: rgb(65, 65, 65) solid 2px;
    font-family: monospace;
    font-size: 15pt;
}

.lvl1:hover, .lvl2:hover, .lvl3:hover {
    background-color: rgba(112, 128, 144, 0.589);
    border-bottom: tomato solid 2px;
    border-left: rgba(255, 99, 71, 0) solid 2px;
    border-right: rgba(255, 99, 71, 0) solid 2px;
}

.undo {
    position: relative;
    left: 10px;
    top: -10px;
    text-align: center;
    display: inline-block;
    background-color: rgb(109, 109, 109);
    border: rgb(66, 66, 66) dashed 3px;
    width: 90px;
    height: 30px;
    line-height: 1.5;
    font-family: monospace;
    font-size: 15pt;
    border-radius: 20px;
}


.hintBtn, .safeBtn, .manualMinesBtn, .svnBoomBtn {
    position: absolute;
    display: inline-block;
    background-color: rgb(109, 109, 109);
    border: rgb(66, 66, 66) dashed 3px;
    width: 130px;
    height: 40px;
    line-height: 1.5;
    font-family: monospace;
    font-size: 15pt;
    border-radius: 20px;
}

.hintBtn {
    left: 16%;
    top: 30%;
}

.safeBtn {
    left: 16%;
    top: 45%;
}


.manualMinesBtn {
    height: 60px;
    left: 5%;
    top: 30%;
    line-height: 1;
}

.svnBoomBtn {
    height: 60px;
    left: 5%;
    top: 50%;
    line-height: 1;
}

.active {
    cursor: pointer;
    background-color: tomato;
}

.manualMinesBtn.active, .svnBoomBtn.active {
    background-color: khaki;
}

.active:hover {
    font-size: 17pt;
    line-height: 1;
    background-color: rgba(255, 99, 71, 0.726);
}

.manualMinesBtn.active:hover, .svnBoomBtn.active:hover {
    font-size: 17pt;
    line-height: 1;
    background-color: rgba(240, 230, 140, 0.726);
}